/* Style from Hit Digital
Teste front end Challanger
date: 18/10/2021, time: 17:25pm
from: Junior Silva
 */


/* font import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/* style guide
1 - GERAL
2 - BUTTONS
3 - FORM
4 - MOBILE 
*/


/* ___________________________________________ */


/* 1. GERAL */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #333;
}

header {
    height: 3em;
    color: #FFF;
    margin-bottom: 1em;
    text-align: center;
}

h1 {
    color: #FFF;
    font-weight: 400;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

section {
    margin: 2em 0;
    overflow: hidden;
    text-align: center;
}

p {
    text-align: left;
    font-weight: 100;
}

hr {
    border: 0;
    border-top: 3px solid #707070;
    height: 3px;
    width: 15%;
    overflow: visible;
    padding: 0;
    color: #CCC;
    text-align: center;
}

hr::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 5px;
    width: 20%;
    top: -0.7em;
    font-size: 1.3em;
    padding: 0 0.3em;
    background: #ea916b;
}

.logo {
    padding: 7em;
}

.back {
    background-color: #ea916b;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    color: #FFF;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.301);
}


/* 2. BUTTONS */

button {
    margin: 10%;
    text-align: center;
}

.btn {
    width: 200px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
}

.black {
    background-color: #333;
}

.black:hover {
    background-color: rgba(20, 19, 19, 0.637);
}

.orange {
    background-image: -webkit-linear-gradient(top, #ea916b, #e26452);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.301);
}

.orange:hover {
    background-image: -webkit-linear-gradient(top, #ea916b, #ea916b);
}


/* 3. FORM */

form {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px 0;
    background: #ea916b;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    display: block;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-bottom: 1em;
    width: 100%;
    border: 1px solid #fff;
    padding: .9em;
    border-radius: 5px;
}

input:focus-visible {
    outline: 2px solid rgb(136 136 136 / 30%)
}

textarea:focus-visible {
    outline: 2px solid rgb(136 136 136 / 30%)
}

.campo-medio {
    display: inline-block;
    padding-right: .5em;
}

.grupo,
.grupolarge {
    width: 47%;
    display: inline-block;
    padding: 10px 5px;
}

.grupolarge {
    width: 94.5%;
}


/* 4. MOBILE */

@media (max-width: 1199.98px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .back {
        margin: 40px 20px;
    }
    form {
        margin: 50px 20px;
    }
    .grupo {
        width: 94.5%;
    }
}